:root.theme-dark {
  --background-color: #000028;
  --background-image: url('../images/cover-image-dark.png');
  --accent-color: #ff0070;
  --accent-color-transparent: rgb(255 0 112 / 40%);
  --main-title-color: #db00ff;
  --decor-title-color: #000028;
  --content-title-color: #ff0070;
  --text-color: #f1b2ce;
  --rec-display: block;
}
