:root.theme-light {
  --background-color: #fff1f7;
  --background-image: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --accent-color-transparent: rgb(50 49 45 / 40%);
  --main-title-color: #ffc2e6;
  --decor-title-color: #353430;
  --content-title-color: #353430;
  --text-color: #353430;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-image: url('../images/cover-image-light.png');
    --accent-color: #ff8dcb;
    --accent-color-transparent: rgb(50 49 45 / 40%);
    --main-title-color: #ffc2e6;
    --decor-title-color: #353430;
    --content-title-color: #353430;
    --text-color: #353430;
    --rec-display: none;
  }
}
